*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Custom ignores
/DEVELOPMENT_PLAN.md
/Jok_N10_elements/
*.jks
*.keystore

/app/release/
